body {
  padding-top: 5rem;
}

.required-to-red {
  color: red;
}

.message_size {
  width: 350px;
  height: 150px;
}

.name {
  width: 300px;
}

.email {
  width: 300px;
}

.subject {
  width: 300px;
}

.send_btn {
  background-color: blue;
  color: white;
  border-radius: 5%;
  width: 100px;
  height: 40px;
}
